---
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import config from "@/config/config.json";
import CollectionsSlider from "@/functional-components/CollectionsSlider";
import Base from "@/layouts/Base.astro";
import { getCollectionProducts, getCollections } from "@/lib/shopify";
import CallToAction from "@/partials/CallToAction.astro";
import HeroSlider from "src/layouts/functional-components/HeroSlider";

const { collections } = config.shopify;

// Fetch slider images for the HeroSlider
const sliderImages = await getCollectionProducts({
  collection: collections.hero_slider,
});
const heroProducts = sliderImages.products;

const collectionProducts = await getCollections();

// Fetch featured products
const { products: featuredProducts } = await getCollectionProducts({
  collection: collections.featured_products,
  reverse: false,
});
---

<Base>
  <section>
    <div class="container">
      <div class="bg-gradient py-10 rounded-md">
        <HeroSlider products={heroProducts} client:load />
      </div>
    </div>
  </section>

  {/* category section */}
  <section class="section">
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2>Collections</h2>
      </div>
      <CollectionsSlider client:load collections={collectionProducts} />
    </div>
  </section>

  {/* Featured Products section */}
  <section>
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2 class="mb-2">Featured Products</h2>
        <p class="md:h5">Explore Today's Featured Picks!</p>
      </div>
      <FeaturedProducts products={featuredProducts} />
    </div>
  </section>

  <CallToAction />
</Base>
